<%- include("partials/header.ejs") %>

<div class="px-4 py-5 text-center container-fluid" id="headingBox">
    <h1 class="display-5 fw-bold">Contact Me</h1>
      <br />
      <br /> 
      <h2>Please See My Contact Details Below</h2>
    <br />
    <br />
       <h3>I can respond to enquiries on emails and weekends.</h3>
     <br />
     <br />  
    <table class="table">
        <tr>
            <th id="contactMethod"><h3><span><b>Contact Method</b></span></h3></th>
            <th id="notes"><h3><span><b>Notes</b></span></h3></th>
        </tr>
        <tr>
            <td><h4 aria-label="email">Email Address</h4></td>
            <td><h5 aria-label="scfletcher2000@hotmail.com"><a href="mailto:scfletcher2000@hotmail.com">scfletcher2000@hotmail.com</a></h5></td>
        </tr>
        <tr>
            <td><h4 aria-label="telephone">Telephone Number</h4></td>
            <td><h5>Please email me and I will email you my phone number</h5></td>
        </tr>
    </table>
    </div>

<%- include("partials/footer.ejs") %>